doctype html
html(lang='en')
    head
    body


        div(bgcolor='#FFFFFF', style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;width:100%!important;height:100%;background:#f0f0f0;margin:0;padding:0")
            table(bgcolor='#F0F0F0', style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;width:100%;margin:0;padding:0")
                tbody
                    tr(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0")
                        td(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0")
                        td(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;display:block!important;max-width:600px!important;clear:both!important;border-radius:10px;border-collapse:collapse;overflow:hidden;margin:0 auto;padding:0")
                            div(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;max-width:600px;display:block;margin:0 auto;padding:15px")
                                table(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;width:100%;margin:0;padding:0")
                                    tbody
                                        tr(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0")
                                            td(align='center', style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0")
                                                img.CToWUd(src='https://ci3.googleusercontent.com/proxy/yOzbA1HPJ3QgxvhtPiRVakkFdCoxcGpLSRfEQTlEqrlPdJ68lEBg7lE64rCnrXaCb3HwJeE0ZszQU59DdjeS0tkkTAn7zNidackPJCLEAjHNWB93isUQ3flwd36DV8a-I2NmwFlcPImaC3mhLVHNTQThkH7zULpFqzc=s0-d-e1-ft#https://gallery.mailchimp.com/c6db21bf78f95418684e42c02/images/a22c720d-1679-4275-809b-6f72f4678116.png', width='57', style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;max-width:100%;margin:0;padding:0")
                        td(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0")
            table(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;width:100%;margin:0;padding:0")
                tbody
                    tr(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0")
                        td(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0")
                        td(bgcolor='#FFFFFF', style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;display:block!important;max-width:600px!important;clear:both!important;border-radius:10px;border-collapse:collapse;overflow:hidden;margin:0 auto;padding:0")
                            div(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;max-width:600px;display:block;margin:0 auto;padding:15px")
                                table(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;width:100%;margin:0;padding:0")
                                    tbody
                                        tr(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0")
                                            td(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0 20px")
                                                p#m_-6346791012763524055m_3872787055031657318emailTitle(align='center', style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:bold;font-size:24px;line-height:1.6;margin:0 0 16px;padding:0") Exception in ONDC App
                                                p(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:1.6;margin:0 0 10px;padding:0") Hi #{name},
                                                p(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:1.6;margin:0 0 10px;padding:0") Exception occured in ONDC app at:

                                                p(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:1.6;margin:0 0 10px;padding:0") #{exceptionOccuredAt}
                                                    b  Root cause:
                                                p(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:1.6;margin:0 0 10px;padding:0") #{err}
                                                    b  Exception stack trace:
                                                p(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:1.6;margin:0 0 10px;padding:0") #{stackTrace}
                                                    a(href='' + appLoginUrl, style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;color:#1774d1;margin:0;padding:0", target='_blank', data-saferedirecturl='https://www.google.com/url?q=https://mandrillapp.com/track/click/30763361/api-aws-prod.spiritpediaapp.com?p%3DeyJzIjoiUzlCaFRzUVhnaHhlWWx3Mkt4QWpxZzdIQjUwIiwidiI6MSwicCI6IntcInVcIjozMDc2MzM2MSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwaS1hd3MtcHJvZC5zaXJlbm1kLmNvbVwiLFwiaWRcIjpcIjA5MjRkYjhmOWNkZDRjZDNiYjczYWViMWZjNzJiZjlmXCIsXCJ1cmxfaWRzXCI6W1wiMmI0Y2IyODNhNzQ2ZWExMzlmYmRkZjhkNTllZTA5YjYxMTA0OWEzMFwiXX0ifQ&source=gmail&ust=1624850943248000&usg=AFQjCNGnaXyS3DTz4EJn0oNBGpMpPj-OmA') click here
                                                    |                                 to sign in. Please bookmark the Administrative page for your convenience.
                                                br(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0")
                                                p(align='center', style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:1.6;margin:0 0 10px;padding:0")
                                                    a(href='' + appLoginUrl,style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;color:#1774d1;margin:0;padding:0", target='_blank', data-saferedirecturl='https://www.google.com/url?q=https://mandrillapp.com/track/click/30763361/api-aws-prod.spiritpediaapp.com?p%3DeyJzIjoiUzlCaFRzUVhnaHhlWWx3Mkt4QWpxZzdIQjUwIiwidiI6MSwicCI6IntcInVcIjozMDc2MzM2MSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwaS1hd3MtcHJvZC5zaXJlbm1kLmNvbVwiLFwiaWRcIjpcIjA5MjRkYjhmOWNkZDRjZDNiYjczYWViMWZjNzJiZjlmXCIsXCJ1cmxfaWRzXCI6W1wiMmI0Y2IyODNhNzQ2ZWExMzlmYmRkZjhkNTllZTA5YjYxMTA0OWEzMFwiXX0ifQ&source=gmail&ust=1624850943248000&usg=AFQjCNGnaXyS3DTz4EJn0oNBGpMpPj-OmA')
                                                        img.CToWUd(src='https://ci3.googleusercontent.com/proxy/tTQL_XMn5aXbO1bMGcHVQdrmBw6noSYWmi17gCN5Rb3hroL_VnnSDnfwqbG2WpzzFA8jg4ZYgYQrEtjB43FcTAwSBYR7t7cqexoRjVYa-DfAnHp0WIy1miFtG7yG2TugG7qJK_EhOde75_LyI83uriISkUbSIaB8UMU=s0-d-e1-ft#https://gallery.mailchimp.com/c6db21bf78f95418684e42c02/images/0bc06f30-27ea-40ae-9fa9-59acae054a4f.png', width='174', style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;max-width:100%;margin:0;padding:0")
                                                br(style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0")
            img.CToWUd(src='https://ci5.googleusercontent.com/proxy/6mM-9BgZbOBKZXsow7vMvF1DNXsNScMgvHPQuf_GWjkPlAd2AUPzLKCXv_dh-RTUcoxY3jl6LGTe3vw2iBhQjlt8TjE9HudGQAHhY-X-2HczcBNZEmOl67Li72OQ0dea3fCnHmgEKxU=s0-d-e1-ft#https://mandrillapp.com/track/open.php?u=30763361&id=0924db8f9cdd4cd3bb73aeb1fc72bf9f', height='1', width='1')
